@import "tailwindcss";
body {
  background: #142f32ed;
  color: rgb(223, 225, 227);
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  @apply border border-gray-400 px-4 py-2 mb-2 ml-2 rounded bg-blue-600 text-white hover:bg-blue-700 transition;
}
.input{
  @apply border border-gray-400 px-4 py-2 mb-2 rounded bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-blue-500;
}